.auth-wrraper-container {
  background: linear-gradient(to right, rgb(235, 245, 255), rgb(180, 215, 255));
  width: 100vw;
  height: 100vh;
  button {
    border-radius: 8px;

    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 45px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 600;

    &:not([type="submit"]) {
      margin-top: 16px;
      // Застосовуємо до кнопок, які НЕ є submit
      background: transparent;
      border: 1px solid rgb(255, 255, 255);

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.2); // Додаємо легкий фон при ховері/фокусі
      }
    }
    &[type="submit"] {
      background-color: rgb(50, 90, 170);
      border: none;

      &:hover,
      &:focus {
        background-color: rgb(37, 75, 151);
      }
    }
  }
}

.auth-container {
  overflow: hidden;
  position: relative;
  max-width: 768px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  display: flex;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);

  &.active .toggle-left {
    transform: translateX(0%);
  }
  &.active .toggle-right {
    transform: translateX(-200%);
  }

  &.active .toggle-wrraper {
    transform: translateX(-100%);
    border-radius: 0px 150px 100px 0px;
  }

  &.active .forms-wraper {
    transform: translateX(100%);
  }
  &.active .login-form {
    z-index: 2;
    opacity: 1;
  }
  &.active .register-form {
    z-index: -1;
    opacity: 0;
  }
}

.register-form {
  z-index: 2;
  opacity: 1;
  transition: 0.7s ease-in-out;
}

.login-form {
  z-index: -1;
  opacity: 0;
  transition: 0.7s ease-in-out;
}

.forms-wraper {
  position: relative;
  width: 50%;
  transition: 0.7s ease-in-out;
}

.form-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
}

.form {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
}

.toggle-wrraper {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.7s ease-in-out;
  z-index: 1000;
  border-radius: 150px 0px 0px 100px;
}

.toggle-container {
  background-color: rgb(50, 90, 170);
  height: 100%;
  position: relative;
  width: 200%;
  transform: translateX(0px);
  transition: 0.7s ease-in-out;
  text-align: center;
}

.text-wrraper {
  color: rgb(255, 255, 255);
  padding-top: 150px;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
  h3,
  p {
    max-width: 70%;
    margin: 10px auto 0px;
  }
}

.toggle-left {
  transform: translateX(-200%);
  transition: 0.7s ease-in-out;
}
.toggle-right {
  transition: 0.7s ease-in-out;
}

.form-group {
  position: relative;
  label {
    display: block;
    margin-bottom: 3px;
    color: $text-color-dark;
    font-size: 14px;
  }

  input {
    background-color: rgb(238, 238, 238);

    width: 100%;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s ease-in-out;
    outline: none;
    &:focus {
      border-color: $primary-blue;
      // outline: none;
      box-shadow: 0 0 0 1px rgba($primary-color, 0.2);
      // Збільшив розмиття до 8px, розповсюдження до 2px, прозорість до 0.4
    }
  }

  &.error {
    input {
      border-color: $danger-color; // Червона рамка
      &:focus {
        border-color: $danger-color;
        box-shadow: 0 0 0 2px rgba($danger-color, 0.2); // Червоний фокус
      }
    }
  }
}

.error-message {
  color: $danger-color; // Червоний текст помилки
  font-size: 12px; // Менший шрифт
  margin-top: 4px;
  min-height: 12px;
  position: absolute;
  // display: none; // За замовчуванням приховано, JS буде показувати
  // Можна також встановити opacity: 0; і transition для плавного появи
}
