.auth-wrapper-container {
  background: linear-gradient(to right, rgb(235, 245, 255), rgb(180, 215, 255));
  width: 100vw;
  height: 100vh;
  padding: 0 12px;
}

.auth-container {
  overflow: hidden;
  position: relative;
  max-width: 316px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  display: flex;
  background-color: $widget-background;
  top: 50%;
  transform: translateY(-50%);

  @include mobile {
    max-width: 420px;
  }
  @include large-mobile {
    max-width: 768px;
  }
  @include tablet {
    padding: 50px;
  }

  &.active .toggle-left {
    transform: translateX(0%);
  }
  &.active .toggle-right {
    transform: translateX(-200%);
  }

  &.active .toggle-wrapper {
    transform: translateX(-100%);
    border-radius: 0px 150px 100px 0px;
  }

  &.active .forms-wraper {
    @include large-mobile {
      transform: translateX(100%);
    }
  }
  &.active .login-form {
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
    @include large-mobile {
      transform: none;
    }
  }
  &.active .register-form {
    z-index: -1;
    opacity: 0;
    transform: translateX(100%);
    @include large-mobile {
      transform: none;
    }
  }
}

.register-form {
  z-index: 2;
  opacity: 1;
  transition: 0.7s ease-in-out;
  transform: translateX(0);
  @include large-mobile {
    transform: none;
  }
}

.login-form {
  z-index: -1;
  opacity: 0;
  transition: 0.7s ease-in-out;
  transform: translateX(100%);
  @include large-mobile {
    transform: none;
  }
}

.forms-wraper {
  position: relative;
  width: 100%;
  transition: 0.7s ease-in-out;
  @include large-mobile {
    width: 50%;
  }
}

.form-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
}

.form {
  width: 100%;
  background-color: $widget-background;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  padding-top: 0;
  @include large-mobile {
    padding: 20px;
  }
}

.toggle-wrapper {
  display: none;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.7s ease-in-out;
  z-index: 1000;
  border-radius: 150px 0px 0px 100px;
  @include large-mobile {
    display: block;
  }
}

.toggle-container {
  background-color: $auth-blue-color;
  height: 100%;
  position: relative;
  width: 200%;
  transform: translateX(0px);
  transition: 0.7s ease-in-out;
  text-align: center;
}

.text-wrapper {
  color: $widget-background;
  padding-top: 150px;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
  h3,
  p {
    max-width: 70%;
    margin: 10px auto 0px;
  }
}

.toggle-left {
  transform: translateX(-200%);
  transition: 0.7s ease-in-out;
}
.toggle-right {
  transition: 0.7s ease-in-out;
}

.form-group {
  position: relative;
  label {
    display: block;
    margin-bottom: 3px;
    color: $text-color-dark;
    font-size: 14px;
  }

  input {
    background-color: #eeeeee;

    width: 100%;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s ease-in-out;
    outline: none;
    &:focus {
      border-color: $primary-blue;
      box-shadow: 0 0 0 1px rgba($primary-color, 0.2);
    }
  }

  &.error {
    input {
      border-color: $danger-color;
      &:focus {
        border-color: $danger-color;
        box-shadow: 0 0 0 2px rgba($danger-color, 0.2);
      }
    }
  }
}

.error-message {
  color: $danger-color;
  font-size: 10px;
  margin-top: 4px;
  min-height: 12px;
  position: absolute;
  @include tablet {
    font-size: 12px;
  }
}

.auth-mobile-btn-wrapper {
  display: flex;
  gap: 4px;
  button {
    text-decoration: underline;
    color: $auth-blue-color;
    &:hover,
    &:focus {
      color: rgb(16, 36, 77);
    }
  }
  @include large-mobile {
    display: none;
  }
}

.auth-button {
  border-radius: 8px;

  color: $widget-background;
  font-size: 16px;
  padding: 10px 45px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.auth-button-transparent {
  margin-top: 16px;
  background: transparent;
  border: 1px solid $widget-background;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.auth-button-blue {
  background-color: $auth-blue-color;
  border: none;

  &:hover,
  &:focus {
    background-color: #254b97;
  }
}
