.button {
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  outline: none !important;

  &:hover {
    outline: none !important;
  }
  &:focus {
    outline: none !important;
  }
  &:active {
    outline: none !important;
  }
}

.button--primary {
  background-color: $primary-blue;
  color: $widget-background;
  border: 1px solid $primary-blue;

  &:hover {
    background-color: $primary-blue-dark;
    border-color: $primary-blue-dark;
    box-shadow: 0 2px 5px rgba($primary-blue, 0.3);
  }

  &:active {
    background-color: darken($primary-blue-dark, 5%);
    border-color: darken($primary-blue-dark, 5%);
  }
}

.button--outline {
  background-color: $background-page;
  color: $secondary-text-color;
  border: 1px solid $border-color;

  &:hover {
    background-color: $border-color;
    color: $text-color-dark;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    box-shadow: 0 0 0 1px rgba($border-color, 0.7), 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: darken($border-color, 10%);
    border-color: darken($border-color, 10%);
    transform: translateY(1px);
  }
}

.add-tweet {
  z-index: 100;
  background-color: $dark-blue-color;
  padding: 12px 24px;
  border-radius: 12px;
  color: $widget-background;

  position: fixed;
  bottom: 20px;
  right: 20px;
}
