section {
  padding: 12px;
  padding-bottom: 50px;
}

.tweet-card {
  margin: auto;
  margin-bottom: 12px;
  background: $widget-background;
  border-radius: 12px;
  padding: 16px;
  width: 100%;

  p {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  span {
    color: $secondary-text-color;
    font-size: 12px;
  }
  .like-count {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  @include mobile {
    width: 90%;
    p {
      font-size: 16px;
    }
  }
  @include large-mobile {
    width: 80%;
    p {
      font-size: 20px;
    }
  }
  @include small-desktop {
    width: 70%;
  }
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.tweet-meta {
  display: flex;
  justify-content: space-between;
}
.tweet-actions {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.svg-btn {
  &:hover {
    .icon-pencil,
    .icon-delete {
      stroke-width: 2px;
    }
  }
  .icon-pencil,
  .icon-delete {
    pointer-events: none;

    width: 20px;
    height: 20px;

    fill: none;
    stroke: currentColor;

    stroke-width: 1.5px;

    transition: stroke-width 0.3s ease;
  }
}
.button-like {
  color: #000;
  position: relative;
  &:hover {
    .icon-heart {
      stroke-width: 2px;
    }
  }
  .icon-heart {
    pointer-events: none;
    width: 24px;
    height: 24px;

    fill: transparent;
    stroke: currentColor;
    stroke-width: 1.5px;

    transition: fill 0.3s ease, stroke 0.3s ease, transform 0.2s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  }

  &.is-active {
    .icon-heart {
      fill: $like-color;
      stroke: $like-color;

      transform: scale(1.1);
    }
  }
}
