header {
  background: white;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  @include tablet {
    padding: 25px 40px;
  }
  h1 {
    color: $dark-blue-color;
    font-weight: 600;
    font-size: 20px;
    @include tablet {
      font-weight: 600;
      font-size: 28px;
    }
  }
}

.logout {
  color: $danger-color;
  font-size: 16px;
}

.icon-user {
  width: 32px;
  height: 32px;
  fill: $text-color-dark;
  display: block;
  border: 2px $border-color solid;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;

  min-width: 160px;
  max-height: 200px;

  background-color: $widget-background;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid $border-color;
  border-radius: 8px;

  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  z-index: 100;
}

.dropdown-content li {
  border-bottom: 1px solid $widget-background;
}

.dropdown-content li:last-child {
  border-bottom: none;
}
.dropdown-content span,
.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: $text-color-dark;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
}

.dropdown-content li:hover {
  background-color: $background-page;
  border-radius: 8px;
}

.svg-wrapper.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: transparent;
}

.svg-wrapper.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 5px;
}
