.tweet-modals {
  padding: 0;
  background-color: $widget-background;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  &::backdrop {
    background-color: transparent;
    backdrop-filter: blur(2px);
  }

  h2 {
    background: #f0f2f5;
    text-align: center;
    margin-bottom: 12px;
    padding: 12px;
    color: rgb(0, 0, 128);
    font-size: 20px;
  }
  form {
    padding: 28px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
      display: block;
      margin-bottom: 12px;
      font-weight: 500;
      color: $text-color;
      font-size: 14px;
    }

    textarea {
      width: 100%;
      min-height: 120px;
      padding: 12px;
      border: 1px solid $border-color;
      border-radius: 12px;
      font-size: 14px;
      resize: none;
      transition: border-color 0.2s ease-in-out;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    .modal-actions {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      margin-top: 12px;
      & button {
        position: relative;
      }
    }
  }

  button[type="submit"] {
    min-width: 120px;
  }

  button[type="button"] {
    @extend .button;
    @extend .button--outline;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

dialog[open] {
  animation: fadeIn 0.5s ease-out forwards;
  &::backdrop {
    animation: fadeBackdropIn 0.5s ease-out forwards;
  }
}

@keyframes fadeBackdropIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.confirm-delete {
  background: #f0f2f5;
  padding: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $border-color;
  border-radius: 12px;
  text-align: center;

  p {
    font-size: 18px;
  }
  @include tablet {
    padding: 24px;
    p {
      font-size: 24px;
    }
  }
  div {
    margin-top: 12px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .cancel-btn {
    @extend .button;
    @extend .button--outline;
  }
}

.app-message {
  text-align: center;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  background-color: $widget-background;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: top 0.4s ease;
  z-index: 999999;
}

.app-message.error {
  border: 1px $danger-color solid;
}

.app-message.success {
  border: 1px #2ecc71 solid;
}

.app-message.show {
  top: 20px;
}
