/* my-php-project/src/public/scss/_reset.scss */

// 1. Скидаємо box-sizing для всіх елементів
// Це робить макети передбачуванішими
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; // Успадковуємо box-sizing
  margin: 0; // Видаляємо всі зовнішні відступи
  padding: 0; // Видаляємо всі внутрішні відступи
}

// 2. Видаляємо дефолтні стилі для основних HTML-елементів
body {
  margin: 0; // На випадок, якщо браузер все ще намагається додати
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// 3. Додаткові ресети для специфічних елементів

// Задаємо 'display: block' для HTML5-елементів, які раніше були 'inline'
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

// Ресет списків
ol,
ul {
  list-style: none;
}

// Ресет посилань
a {
  text-decoration: none; // Видаляємо підкреслення
  color: inherit; // Наслідуємо колір тексту від батька
}

// Ресет кнопок (для них буде окремий файл)
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// Ресет зображень
img {
  max-width: 100%; // Зображення не виходять за межі контейнера
  height: auto; // Зберігають пропорції
  display: block; // Для кращого контролю над відступами
}

// Ресет форм (деякі дефолтні стилі можуть заважати)
input,
textarea,
select {
  -webkit-appearance: none; // Видаляє стилі браузера (особливо на iOS)
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
textarea {
  resize: vertical; // Дозволяє змінювати розмір тільки по вертикалі
}
