.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  border: 5px solid #e0e0e0;
  border-top-color: $primary-color;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.submit-btn,
.auth-button,
.confirm-btn {
  @extend .button;
  @extend .button--primary;

  .spinner-btn {
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    z-index: 100;
  }
  &.is-hidden {
    .spinner-btn {
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }
  }
  span {
    pointer-events: none;
  }
}
