$danger-color: #dc3545;
$secondary-text-color: #536471;
$widget-background: white;
$primary-color: #007bff;
$dark-blue-color: #000080;
$text-color: #212529;
$border-color: #9da5b5;
$primary-blue: #2196f3;
$primary-blue-dark: #1976d2;
$text-color-dark: #333;
$background-page: #f0f2f5;
$like-color: #e74c3c;
$auth-blue-color: #325aaa;

//
$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
