$danger-color: #dc3545;
$secondary-text-color: #536471;
$widget-background: white;
$primary-color: #007bff;
$text-color: #212529;
$border-color: #dee2e6;
$primary-blue: #2196f3;
$primary-blue-dark: #1976d2;
$text-color-muted: #888;
$text-color-light: #555;
$text-color-dark: #333;
$background-page: #f0f2f5;

//
$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
